*{margin: 0%;padding: 0%;}
.navigation{display: flex;align-items: center;justify-content: space-between;padding: 10px;
    background-color: rgb(235, 235, 235);}
.menulinks2{color: black;text-decoration: none;padding: 10px;}
.sect1{background-image: url(./Images/support_page/banner.png);background-size: cover;height: 500px;display: flex;}
.text0{text-align: center;margin-top: 250px;margin-left: 400px;font-size: 30px;}
.button{width: 50%;height: 30px;}
.div1{display: flex;align-items: center;gap: 200px;margin-left: 200px;margin-bottom: 50px;}
.div2{display: flex;align-items: center;gap: 200px;margin-left: 200px;margin-bottom: 80px;}
.first{text-align: center;margin-top: 30px;margin-bottom: 30px;}
.firstt{width: 100%;display: flex;gap: 100px;margin-bottom: 30px;}
.second{width: 50%;}
.third{width: 50%;}
.seccond{width: 100%;display: flex;gap: 100px;margin-top: 100px;}
.fourth{width: 50%;}
.fifth{width: 50%;margin-bottom: 100px;}
.thirrd{width: 100%;display: flex;gap: 100px;margin-bottom: 100px;}
.sixth{width: 50%;}
.seventh{width: 50%;}
.text4{text-align: center;margin-bottom: 100px;}
.txt4{margin-bottom: 20px;}
.ima4{align-items: center; margin-bottom: 50px;}
.text5{text-align: center; margin-bottom:30px ;}
.fourtth{width: 100%;display: flex;gap: 15px;margin-bottom: 80px;}
.cl1{width: 33.3;}
.cl2{width: 33.3;}
.cl3{width: 33.3;}
.bf{text-align: center;margin-bottom: 100px;}
.footer{background-color: rgb(168, 166, 166);padding: 10px;display: flex;justify-content: space-between;align-items: center;}
.footer-content{display: flex;justify-content: space-between;}
.footer-sectionproducts{flex: 1%;margin-right: 10px;margin-bottom: 95px;font-weight: normal;}
.footer-sectionmobileserv{margin-bottom: 25px;font-weight: normal;}
.footer-sectionsupport{margin-bottom: 220px;font-weight: normal;}
.footer-sectionabout{margin-bottom: 115px;font-weight: normal;}
